/* CSS */
#map { 
    height: 650px;
    width: 650px;
 }
/* ook of the sequence control  */
 .sequence-control-container {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.range-slider {
    width: 200px;
    margin: 0 10px;
}

.step {
    cursor: pointer;
}

/* Popup styling */
.leaflet-popup-content-wrapper {
    border-radius: 50%;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 20px;
}

.leaflet-popup-content {
    margin: 0;
    min-width: 140px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Shadow? */
.leaflet-popup-content-wrapper {
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* Legend styling */
.legend-control-container {
    background: white;
    padding: 10px;
    border-radius: 6px;
    font-family: "Times New Roman", serif;
    text-align: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.legend-circle {
    display: flex;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.6);
    margin-bottom: 5px;
    position: relative;
    align-items: center;
}

.legend-circle svg{
    margin-right: 8px;
}